In [3]:
import pandas as pd

df = pd.read_csv("C:\\Users\\power\\Downloads\\heart.csv")
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [4]:
df.shape

(918, 12)

In [6]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

## Treat Outliers

In [7]:
df[df.Cholesterol>(df.Cholesterol.mean()+3 * df.Cholesterol.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [9]:
df1 = df[df.Cholesterol<=(df.Cholesterol.mean()+3 * df.Cholesterol.std())]
df1.shape

(915, 12)

In [11]:
df[df.MaxHR>(df.MaxHR.mean()+3 * df.MaxHR.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [13]:
df[df.FastingBS>(df.FastingBS.mean()+3 * df.FastingBS.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [15]:
df[df.Oldpeak>(df.Oldpeak.mean()+3 * df.Oldpeak.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1

In [19]:
df2 = df[df.Oldpeak<=(df.Oldpeak.mean()+3 * df.Oldpeak.std())]
df2.shape

(912, 12)

In [21]:
df[df.RestingBP>(df.RestingBP.mean()+3 * df.RestingBP.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1
759,54,M,ATA,192,283,0,LVH,195,N,0.0,Up,1

In [39]:
df3 = df[df.RestingBP<=(df.RestingBP.mean()+3 * df.RestingBP.std())]
df3.shape

(911, 12)

In [40]:
df.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [41]:
df.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [42]:
df.ExerciseAngina.unique()

array(['N', 'Y'], dtype=object)

In [43]:
df.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [44]:
df4 = df3.copy()

In [45]:
df4.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [46]:
df4.ExerciseAngina.replace({
    'N' : 0,
    'Y' : 1
}, inplace=True)
df4.ST_Slope.replace({
    'Up' : 1,
    'Flat' : 2,
    'Down' : 3    
}, inplace=True)
df4.RestingECG.replace({
    'Normal' : 1,
    'ST' : 2,
    'LVH' : 3
}, inplace=True)

df4.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,1,172,0,0.0,1,0
1,49,F,NAP,160,180,0,1,156,0,1.0,2,1
2,37,M,ATA,130,283,0,2,98,0,0.0,1,0
3,48,F,ASY,138,214,0,1,108,1,1.5,2,1
4,54,M,NAP,150,195,0,1,122,0,0.0,1,0

In [47]:
df5 = pd.get_dummies(df4, drop_first=True)
df5.head()

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,1,172,0,0.0,1,0,True,True,False,False
1,49,160,180,0,1,156,0,1.0,2,1,False,False,True,False
2,37,130,283,0,2,98,0,0.0,1,0,True,True,False,False
3,48,138,214,0,1,108,1,1.5,2,1,False,False,False,False
4,54,150,195,0,1,122,0,0.0,1,0,True,False,True,False

In [48]:
x = df5.drop('HeartDisease', axis='columns')
y = df5.HeartDisease

x.head()

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,1,172,0,0.0,1,True,True,False,False
1,49,160,180,0,1,156,0,1.0,2,False,False,True,False
2,37,130,283,0,2,98,0,0.0,1,True,True,False,False
3,48,138,214,0,1,108,1,1.5,2,False,False,False,False
4,54,150,195,0,1,122,0,0.0,1,True,False,True,False

In [49]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)
x_scaled

array([[-1.42985002,  0.45700344,  0.82487825, ...,  2.08026089,
        -0.53376804, -0.23060614],
       [-0.47626776,  1.58649378, -0.17306987, ..., -0.48070894,
         1.87347298, -0.23060614],
       [-1.74771078, -0.10774172,  0.76994533, ...,  2.08026089,
        -0.53376804, -0.23060614],
       ...,
       [ 0.37136092, -0.10774172, -0.62168875, ..., -0.48070894,
        -0.53376804, -0.23060614],
       [ 0.37136092, -0.10774172,  0.33963743, ...,  2.08026089,
        -0.53376804, -0.23060614],
       [-1.64175719,  0.34405441, -0.2188473 , ..., -0.48070894,
         1.87347298, -0.23060614]])

In [51]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.2, random_state=30)

In [53]:
x_train.shape

(728, 13)

In [55]:
x_test.shape

(183, 13)

In [64]:
from sklearn.ensemble import RandomForestClassifier
model_rf = RandomForestClassifier()
model_rf.fit(x_train, y_train)
model_rf.score(x_test, y_test)

0.8907103825136612

### Using PCA

In [65]:
x

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,1,172,0,0.0,1,True,True,False,False
1,49,160,180,0,1,156,0,1.0,2,False,False,True,False
2,37,130,283,0,2,98,0,0.0,1,True,True,False,False
3,48,138,214,0,1,108,1,1.5,2,False,False,False,False
4,54,150,195,0,1,122,0,0.0,1,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,0,1,132,0,1.2,2,True,False,False,True
914,68,144,193,1,1,141,0,3.4,2,True,False,False,False
915,57,130,131,0,1,115,1,1.2,2,True,False,False,False
916,57,130,236,0,3,174,0,0.0,2,False,True,False,False
917,38,138,175,0,1,173,0,0.0,1,True,False,True,False

In [66]:
from sklearn.decomposition import PCA
pca = PCA(0.95)
x_pca = pca.fit_transform(x)
x_pca

array([[ 92.18380022, -29.71416835],
       [-17.23794279, -14.24646432],
       [ 81.85249094,  38.46683224],
       ...,
       [-69.08094083,  17.65159254],
       [ 39.07046139, -33.60264771],
       [-21.57407065, -37.37384208]])

In [67]:
x_pca.shape

(911, 2)

In [68]:
x_train_pca, x_test_pca, y_train, y_test = train_test_split(x_pca, y, test_size=0.2, random_state=30)

In [69]:
model_rf.fit(x_train_pca, y_train)
model_rf.score(x_test_pca, y_test)

0.6721311475409836